{{ partial "head.html" . }}

<body>
  <div class="wrap">
    <div class="section" id="content">
      <h1>{{ .Title }}</h1>
      <p>{{ .Content }}</p>{{ range .Data.Pages }}
      <li>
        <a href="{{.Permalink}}">{{.Title}}</a>
      </li>{{ end }}</div>{{ if .Site.Params.mainMenu }}
      <div class="section bottom-menu">
        <hr/>
        <p>
          <a href="{{.Site.BaseURL}}">{{ .Site.Params.homepage }}</a>
        </p>
      </div>
    {{ end }}
    <div class="section footer">{{ partial "footer.html" . }}</div>
  </div>
</body>